body {
  background: #121212;
}

.title {
  color: #39ff14;
  font-family: "Courier New", monospace;
  letter-spacing: 3px;
}

.titleContainer {
  text-align: center;
  font-size: 2rem;
}

/* Counter */

.Counter {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  transform: translate(0%, 60%);
}

/* Board */

.boardContainer {
  /* display: flex; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board {
  outline: 2px solid blue;
}

.row {
}

.cell {
  width: 50px;
  height: 50px;
  outline: 1px solid blue;
  display: inline-block;
}
